TOKEN = 'TOKEN_GOES_HERE'
TOKEN_TYPE = 'TOKEN_TYPE_GOES_HERE'
# VERBOSITY_LEVEL = VERBOSITY_LEVEL_GOES_HERE (can either be a single-quote string or a number) (optional)
# Verbosity levels:
# none - no output from the program (set to 'none' or 0)
# error - only errors will be shown (set to 'error' or 1)
# warning - errors and warnings will be shown (set to 'warning' or 2)
# info - errors, warnings and info messages will be shown [DEFAULT] (set to 'info' or 3)
# all - all of the above plus debug messages (set to 'all' or 4)